<% layout("/layouts/boilerplate") %>

<body>

    <div class="college">
      <div class=" col-md-1 logo" >
          <img  src="https://reck.ac.in/wp-content/uploads/2023/03/rajkiya-engineering-college-kannauj-big-min.png">
      </div>
      <div class="col-md-10 info ">
          <h1> 
            "The email has been sent to your email address ending with @rac.ac.in. Please verify it."
          </h1>
          
      </div>
    </div>
 </body>   