<body>
  <div>
    <form method="post" action="/department" class="row g-3 needs-validation" novalidate>
      <div class="col-md-6">
        <label for="regNo" class="form-label">username</label>
        <input name="department[username]" type="text" class="form-control" id="validationCustom01" required>
      </div>
      <div class="col-md-6">
        <label for="studentName" class="form-label">email</label>
        <input name="department[email]" type="email" class="form-control" id="validationCustom03" required>
        <div class="col-md-3">
          <label for="rollNo" class="form-label">password</label>
          <input name="department[password]" type="password" class="form-control" id="validationCustom05" required>
        </div>
        <div class="col-12">
          <button class="btn btn-primary" type="submit">Submit form</button>
        </div>
    </form>
  </div>
</body>